name: "Hassfest"

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Hassfest Validation
    permissions:
      contents: read
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v4"

      - name: "Run hassfest validation"
        uses: "home-assistant/actions/hassfest@55b4a5d23e09d627c2773c2ef82afa98904d65b4" # master as of 2026-02-07
